@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font-family: 'Open Sans', sans-serif; */
#intro {
    height: 8vh;
    background-color: #000;
    color: #fff;
}

#intro .text-center {
    padding-top: 1%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;

}

#second-box {
    background-color: #f4f7f6;
    height: 10vh;
    padding-top: 1%;
}

#center {
    font-weight: 400;
    text-decoration: none solid rgb(32, 33, 33);

}

.regular-fonts {
    float: right;
    margin-right: 2%;
}

#label {
    font-weight: bold;
    color: #000;
    font-size: 5vh;

}

#search {
    border: none;
    outline: none;
    background-color: transparent;
}

#name {
    text-align: center;
    
}

#images {
    width: 100%;
}

#register-form {
    background-color: #f4f7f6;
    border: 1px solid #000;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 3%;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn-google,
.btn-twitter,
.btn-facebook {
    padding: 12%;
    width: 150px;
    border: none;
    margin-left: 3%;
}

.btn-google {
    background-color: #fff;
    color: #000;
}

.btn-facebook {
    background-color: #00203e;
    color: #fff;

}

.btn-twitter {
    background-color: #48ab9e;
    color: #fff;
}

#register-btn {
    background-color: #48ab9e;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 2.5%;
}

#profile_pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.login-links {
    color: #48ab9e;
}

#login-form {
    background-color: #f4f7f6;
    border: 1px solid #000;
    padding: 5% 5% 5% 10%;
}

#username,
#password {
    height: 9vh;
    width: 85%;
}

#login-btn {

    padding: 2.5%;
    background-color: #48ab9e;
    outline: none;
    border: none;
    width: 85%;
    font-weight: bold;
}

#login-buttons {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.login-btn-google,
.login-btn-twitter,
.login-btn-facebook {
    padding: 12%;
    width: 150px;
    border: none;
}

.login-btn-google {
    margin-right: 25px;
    background-color: #fff;
    color: #000;
}

.login-btn-twitter {
    background-color: #48ab9e;
    color: #fff;
    margin-right: 25px;
}

.login-btn-facebook {
    background-color: #00203e;
    color: #fff;
}

.sign-in {
    font-size: 3vh;
    color: #000;
    font-weight: bold;
    padding:2%;
}

#last_name,
#first_name,
#email,
#password1,
#password2 {
    height: 8vh;
    width: 100%;
}
#project-card{
    margin-bottom: 3%;
    border-radius: 10px;
}
#project-screenshot{
    border-radius: 10px 10px 5px 5px;
    height: 70vh;
}
#user-profile-image{
    height: 50px;
    width: 50px;
    object-fit: cover;
}
#user-icon{
    height: 50px;
    width: 50px;
    object-fit: cover;
}
#sites-of-the-day{
    font-weight: bold;
}
#hero{
    background-image: url('/static/images/cover.jpg');
    height: 80vh;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
}
#modal-style{
    background-color: #f4f7f6;
}
#image-navbar{
    height: 30px;
    width: 30px;
}
.nav-item{
    list-style: none;
    text-decoration: none;
}
.Submit-site{
    background-color: #353636;
    height: 12vh;
    border: none;
    color: #fff;
    outline: none;
    width:200px;
}
#my-nav-bar{
    height: 12vh;
}
#color{
    color: #000;
}

#ratings-currently{
    text-align: center;
    font-weight: bold;

}
#rating-title{
    color: #000;
    text-align: center;
    font-size: 100px;
}
#post-page{
    background-color: #f4f7f6;
}
#border-bottom{
    border-bottom: 2px solid #00203e;
}
#reviews-title{
    color: #00203e;
    font-weight: 700;
    font-size: 4.0vh;
}
#hr{
    border: 1px solid #00203e;
}
#comment-paragraph{
    font-size: 3vh;
    line-height: 1.6;

}
#review-btn{
    outline: 1px solid #00203e;
    border: none;
    padding: 3%;
    background-color: #f4f7f6;
    width: 150px;
    color: #00203e;
    border-radius: 4px; 
}
.detail-hero{
    background-image: url('/static/images/cover2.jpg');
    height: 80vh;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;

}
#detail{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    text-align: center;

}
.ratings-average{
    display: flex;
    flex-direction: row;
}
.circle{
    border: 2px solid #fff;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    
}