{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %} Awaards|Home {% endblock title%}
{% block content %}
<div class="col-md-12" id="intro">
    <p class="text-center">
        #StopWarInUkraine save the children
    </p>

</div>
<div class="col-md-12 text-center" id="second-box">
    <!-- <a href="" class="">English</a> -->
    <span id="center">The awards of design, creativity and innovation on the internet</span>
    <span class="regular-fonts"><i class="fa-brands fa-instagram-square fonts"></i><i
            class="fa-brands fa-twitter fonts"></i><i class="fa-brands fa-facebook-f fonts"></i></span>
</div>
{% include 'navbar.html'%}

<div class="hero" id="hero">
    hello


</div>

<div class="container-fluid">
    <p><span id="sites-of-the-day">Sites of the day </span> Previous Winners</p>
    <div class="row">
        {% for project in projects %}
        <div class="col-md-4">
            <div class="card shadow d-flex align-items-stretch" id="project-card">
                <a href="{{project.id}}" name="" data-toggle="modal" data-target="#exampleModal{{project.id}}">
                    <img src="{{project.post_image.url}}" class="card-img-top" alt="{{ project.title }}"
                        id="project-screenshot">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description|truncatewords:30 }}</p>
                    <hr>
                    <div class="d-flex mt-3">
                        {% if project.user.profile.profile_pic.url %}
                        <img class="rounded-circle" src="{{user.profile.profile_pic.url }}" id="user-profile-image">
                        {% else %}
                        <img class="rounded-circle"
                            src="https://cdn.icon-icons.com/icons2/1154/PNG/512/1486564400-account_81513.png"
                            id="user-icon">
                        {% endif %}
                        <div class="d-flex flex-column justify-content-start ml-3 mt-3">

                            <span class="user-name" id="name-of-user"><b> By {{user.first_name }}
                                    {{ user.last_name }}</b></span>
                            <span class="date"><i class="fas fa-calendar-alt"></i>
                                {{ project.posted_at |date:"D,d M,Y"}}</span>
                        </div>
                        <br>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}

        <!--  modal -->
        {% for project in projects %}
        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{project.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content" id="modal-style">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{project.title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <img src="{{project.post_image.url}}" class="card-img-top" alt="{{ project.title }}"
                                        id="project-screenshot">
                                </div>
                                <div class="col-md-4">
                                    <p>{{project.description}}</p>


                                    <h4 class="desc text-dark">Uploaded By</h4>
                                    <div class="d-flex flex-row user-info">
                                        {% if portfolio.profile.profile_image.url %}
                                        <img class="rounded" src="{{ portfolio.profile.profile_image.url }}" height="40"
                                            width="40">
                                        {% else %}
                                        <img class="rounded"
                                            src="https://cdn.icon-icons.com/icons2/1154/PNG/512/1486564400-account_81513.png"
                                            height="40" width="40">
                                        {% endif %}
                                        <div class="d-flex flex-column justify-content-start ml-2">
                                            <a href="">
                                                <span class="name"><b>{{ project.user.first_name }}
                                                        {{ project.user.last_name }}</b></span>
                                            </a>
                                            <span class="date"><i class="fas fa-calendar-alt"></i>
                                                {{ project.posted_at }}</span>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-md-4 rounded shadow p-4 mb-4 ml-4 clearfix">

                                    <h4 id="ratings-currently">Current Ratings</h4>
                                    {% if ratings %}
                                    {% for rating in ratings %}
                                    <div class="">
                                        <h1 class=" mb-4 mt-2 " id="rating-title">
                                            {{ rating.average }}.0</h1>

                                            <p class="text-center">Based on {{ ratings_count|length  }} reviews</p>
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    <div class="">
                                        <h1 class="mb-4 mt-2" id="rating-title">0.0</h1>
                                        <p class="text-center">Based on {{ ratings_count|length  }} reviews</p>
                                    </div>
                                    {% endif %}

                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% endblock content %}