{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %} Awaards|Home {% endblock title%}
{% block content %}
<div class="col-md-12" id="intro">
    <p class="text-center">
        #StopWarInUkraine save the children
    </p>

</div>
<div class="col-md-12 text-center" id="second-box">
    <!-- <div class="row pt-2" id="second-box">
        <div class="col-md-2">English</div>
        <div class="col-md-6 mx-auto">The awards of design, creativity and innovation on the internet</div>
        <div class="col-md-2 float-md-right"></div>
    </div> -->
    <a href="" class="ms-auto">English</a>
    <span id="center">The awards of design, creativity and innovation on the internet</span>
    <span class="regular-fonts"><i class="fa-brands fa-instagram-square fonts"></i><i class="fa-brands fa-twitter fonts"></i><i class="fa-brands fa-facebook-f fonts"></i></span>
</div>
{% include 'navbar.html'%}

{% endblock content %}