{% extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class="col-md-7 mx-auto mt-5">
    <form action="{% url 'login'%}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Your Username</label>
            <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock content %}