{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<section class="vh-100">
    <div class="container py-2 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form  method="POST" action="{% url 'post' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- project Title input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="title">Project Title</label>
                        <input type="text" id="project-title" class="form-control form-control-lg" name="title" />

                    </div>

                    <!-- project Description -->

                    <div class="form-outline mb-3">
                        <label class="form-label" for="title">Project Description</label>
                        <textarea class="form-control" id="description" rows="5" name="description"></textarea>
                    </div>

                    <!-- project Url -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="url">Project Demo Link</label>
                        <input type="text" id="url" class="form-control form-control-lg" name="url" />

                    </div>

                    <!-- Company -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="title">Company/Organization</label>
                        <input type="text" id="company" class="form-control form-control-lg" name="company" />

                    </div>
                    <!-- languages -->

                    <div class="form-outline mb-4">
                        <label class="form-label" for="title">Technologies Used</label>
                        <input type="text" id="languages" class="form-control form-control-lg" name="languages" />

                    </div>

                    <!-- Image input -->
                    <div class="input-group mb-3">
                        <label for="project-image">select Image</label>
                        <input type="file" class=" form-control-lg" id="photo" name="photo">

                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Upload Project</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}