{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %} Awwwards|profile {% endblock title%}
{% block content %}

<div class="container-fluid">

    <div class="col-md-5">
        <h3 class="ms-2">User Name:{{request.user.username}}
            <h4>Full Name: {{request.user.first_name}} {{request.user.last_name}}</h4>
        </h3>
        <img src="{{request.user.profile.profile_pic.url}}" class="rounded-circle" alt="{{request.user.username}}" id="profile_pic">
        <p>{{request.user.profile.bio}}</p>
        <p>{{request.user.profile.contacts}}</p>
        
    </div>
    
</div>

{% endblock content %}