{% extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<form action="{% url 'register' %}" method="POST" class="col-md-7 mx-auto px-4" id="register-form">
    <div class="row mt-4">
        <p class="col-md-6">Register</p>

        <p class="col-md-6">Are you a member?  <a href="{% url 'login'%}">Login now</a></p>
    </div>

    <div class="row" id="buttons">
        <a href=""><button class="btn-google"> <i class="fa-brands fa-google mr-1"></i>Google</button></a>
        <a href=""><button class="btn-twitter"><i class="fa-brands fa-twitter mr-1"></i>Twitter</button></a>
        <a href=""><button class="btn-facebook"><i class="fa-brands fa-facebook-f mr-1"></i> Facebook</button></a>
    </div>
    {% csrf_token %}
    <div class="row">
        <div class="form-group col-md-6">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" id="firstname" name="firstname">
        </div>
        <div class="form-group col-md-6">
            <label for="lastname ">Last Name</label>
            <input type="text" class="form-control" id="lastname" name="lastname">
        </div>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username">
    </div>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password1" name="password1">
        </div>

        <div class="form-group col-md-6">
            <label for="verify password">Verify password</label>
            <input type="password" class="form-control" id="password2" name="password2">
        </div>
    </div>

    <button type="submit" class="btn" id="register-btn">Create Your Account</button>
</form>
{% endblock content %}